@import '../../../styles/var';

.window {
  padding: 20px;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 100vw;

  position: relative;
  // max-height: 669px;
  // max-width: 827px;
}
.windowRoomDetailImgShow {
  transform: translateX(0%) !important;
}
.windowRoomDetailImg {
  // img {
  //   width: 100%;
  //   height: auto;
  // }
  transform: translateX(-100%);
  aspect-ratio: 3/2;
  position: absolute;
  width: 100% !important;
  height: auto !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.windowRoomFurnitureImg {
  transform: translateX(0%) !important;
}
.windowBtnBack {
  z-index: 12;
  position: absolute !important;
  top: 20px;
  left: 20px;
  width: 52px !important;
  height: 52px !important;
  &::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../../public/icons/arrow-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 14px;
  }
}
.windowSelectPackages {
  z-index: 12;
  position: absolute !important;
  top: 20px;
  left: 92px;
  max-width: 212px;
  width: 100%;
}
.windowSelectRooms {
  z-index: 12;
  position: absolute;
  max-width: 212px;
  width: 100%;
  top: 0;
  right: 16px;
  top: -64px;
  display: none;
}
.windowSwithFurniture {
  z-index: 12;
  max-width: 164px;
  position: absolute !important;
  bottom: 20px;
  left: 20px;
}
.windowAngle {
  z-index: 12;
  position: absolute !important;
  bottom: 20px;
  right: 100px;
  max-width: 164px;
}
.windowFullScreen {
  z-index: 12;
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  &::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../../public/icons/full-screen.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 29px;
    height: 29px;
  }
}
.windowRoomPointList {
}
.windowRoomPointItem {
}
.windowRoomPointRadio {
  z-index: 11;
  display: none !important;
}

.windowRoomPointRadioShow {
  display: flex !important;
}

@media (max-width: $sm) {
  .windowFullScreen {
  }

  .windowSelectRooms {
    display: flex;
  }
  .window {
    margin-top: 84px;
    margin-bottom: 86px;
    // max-height: 669px;
    // height: 100vw;
  }
  .windowBtnBack {
    display: none;
  }
  .windowSelectPackages {
    top: -64px;
    left: 16px;
  }
  .windowSwithFurniture {
    bottom: -66px;
    left: 16px;
  }
  .windowAngle {
    bottom: -66px;
    right: 16px;
  }
  .windowFullScreen {
    display: none;
  }
}
@media (max-width: 500px) {
  .windowSelectPackages {
    max-width: 166px;
  }
  .windowSelectRooms {
    max-width: 166px;
  }
}
