@import '../../../styles/var';

.window {
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100vw;
  height: 100vh;
  position: relative;
  max-height: 669px;
  // max-width: 827px;
}
.windowBtnBack {
  position: absolute !important;
  top: 20px;
  left: 20px;
  width: 52px !important;
  height: 52px !important;
  &::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../../public/icons/arrow-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 14px;
  }
}
.windowSelectPackages {
  position: absolute !important;
  top: 20px;
  left: 92px;
  max-width: 212px;
  width: 100%;
}
.windowSelectRooms {
  position: absolute;
  max-width: 212px;
  width: 100%;
  top: 0;
  right: 16px;
  top: -64px;
  display: none;
}
.windowSwithFurniture {
  max-width: 164px;
  position: absolute !important;
  bottom: 20px;
  left: 20px;
}
.windowAngle {
  position: absolute !important;
  bottom: 20px;
  right: 100px;
  max-width: 164px;
}
.windowFullScreen {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  &::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../../public/icons/full-screen.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 29px;
    height: 29px;
  }
}
.windowRoomPointList {
}
.windowRoomPointItem {
}
.windowRoomPointRadio {
}

@media (max-width: $sm) {
  .windowSelectRooms {
    display: flex;
  }
  .window {
    margin-top: 84px;
    margin-bottom: 86px;
    max-height: 669px;
    height: 100vw;
  }
  .windowBtnBack {
    display: none;
  }
  .windowSelectPackages {
    top: -64px;
    left: 16px;
  }
  .windowSwithFurniture {
    bottom: -66px;
    left: 16px;
  }
  .windowAngle {
    bottom: -66px;
    right: 16px;
  }
  .windowFullScreen {
    display: none;
  }
}
@media (max-width: 500px) {
  .windowSelectPackages {
    max-width: 166px;
  }
  .windowSelectRooms {
    max-width: 166px;
  }
}
