@import '../../../styles/var';
.totalWrapper {
  display: grid;
  grid-template-columns: calc(64% - 30px) 36%;
  column-gap: 30px;
}
.totalBtnBack {
  margin-top: 20px;
  margin-bottom: 24px;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: self-start;
  .btnIconImg {
    transform: rotate(180deg);
  }
}
.totalRoomChoiceList {
  grid-column: 1/2;
  grid-row: 2/3;
}
.totalSidebar {
  grid-column: 2/3;
  grid-row: 2/3;
}
.totalFooter {
  grid-column: 1/3;
  grid-row: 3/4;
}
