@import '../../../styles/var';
.ourWorks {
  background-color: $bg-light;
  padding: 30px 0 100px;
}
.ourWorksAboutPage {
  background-color: $white;
}
.container {
}
.desc {
  text-align: center;
  margin: 0 auto;
  color: #585858;
  @include regular-18;
  margin-bottom: 50px;
  max-width: 646px;
}
.ourWorksInner {
}
.ourWorksTitle {
  margin-bottom: 26px;
}
.ourWorksList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 73px;
  row-gap: 80px;
}
.ourWorksItem {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: $xl) {
  .ourWorksList {
    column-gap: 5.3vw;
    row-gap: 5.6vw;
  }
}
@media (max-width: $sm) {
  .ourWorks {
    overflow: hidden;
    padding: 60px 0 84px;
  }
  .ourWorksTitle {
    margin-bottom: 42px;
  }
  .desc {
    display: none;
  }
  .ourWorksList {
    grid-template-columns: 1fr;
    row-gap: 80px;
  }
}
