@import '../../../styles/var';
.addRoom {
}
.addRoomTitle {
  @include semibold-18;
  margin-top: 24px;
  margin-bottom: 12px;
}
.addRoomSelect {
  margin-bottom: 32px;
}
.addRoomBtnBox {
  display: flex;
  justify-content: end;
}
.addRoomBtnCancel {
  color: $mid-grey !important;
  border-color: $mid-grey !important;
  max-width: 122px !important;
  margin-right: 12px;
}
.addRoomBtnAdd {
  max-width: 146px !important;
}
.addRoomModal {
  width: 100%;
  max-width: 462px;
}
@media (max-width: 500px) {
  .addRoomBtnCancel {
    margin-right: 8px;
  }
  .addRoomModal {
    width: 100%;
    max-width: calc(100vw - 32px);
    padding: 14px 12px 20px;
  }
  .addRoomBtnAdd {
    max-width: 190px !important;
  }
  .addRoomTitle {
    margin-bottom: 8px;
  }
  .addRoomSelect {
    margin-bottom: 20px;
  }
}
