@import '../../../styles/var';
.goBackModal {
}
.goBack {
}
.goBackTitle {
  @include semibold-18;
  margin-top: 24px;
  margin-bottom: 12px;
}
.goBackSelect {
  margin-bottom: 32px;
}
.goBackBtnBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}
.goBackBtnCancel {
  color: $mid-grey !important;
  border-color: $mid-grey !important;
  max-width: none !important;
}
.goBackText {
  margin-top: 12px;
  @include regular-14;
  color: $grey;
  margin-bottom: 18px;
}
.goBackBtnAdd {
}
.goBackModal {
  width: 100%;
  max-width: 400px;
}
@media (max-width: 500px) {
  .goBackBtnBox {
    grid-gap: 11px;
  }
  .goBackModal {
    width: 100%;
    max-width: calc(100vw - 32px);
    padding: 19px 12px 17px 12px;
  }
}
