@import '../../../styles/var';
.about {
  overflow: hidden;
  padding: 144px 0 100px;
  background-color: $bg-light;
}

.aboutPage {
  padding: 120px 0;
  background-color: $white;
}

.container {
}
.aboutInner {
  position: relative;
  display: grid;
  grid-template-columns: minmax(544px, 554px) minmax(auto, 486px);
  justify-content: space-between;
  column-gap: 30px;
}
.aboutContent {
}
.aboutTitle {
  margin-bottom: 40px;
}

.aboutPlan {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -449px;
  right: -361px;
  width: 696px;
  height: 731px;
}

.aboutPlanThree {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -595px;
  right: -395px;
  width: 749px;
  height: 743px;
}
.aboutText {
  @include regular-18;
  span {
    display: inline;
    font-weight: 600;
  }
}
.aboutBtn {
  margin-top: 62px;
  justify-self: flex-start;
}
.aboutList {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-self: flex-end;
  column-gap: 20px;
}
.aboutItem {
}
.aboutNumber {
  display: block;
  @include regular-74;
  margin-bottom: 12px;
}
.aboutNumberText {
  white-space: nowrap;
  display: block;
  @include regular-18;
}
@media (max-width: $sm) {
  .about {
    padding: 91px 0 64px;
  }
  .aboutInner {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .aboutList {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .aboutText {
    max-width: 600px;
  }
  .aboutBtn {
    margin: 0;
  }
  .aboutPlan {
    top: 141px;
  }
  .aboutPlanThree {
    top: 141px;
  }
}
@media (max-width: $xs) {
  .aboutPlan,
  .aboutPlanThree {
    top: 200px;
    right: -200px;
    width: 394px;
    height: 413px;
  }
}
