@import '../../../styles/var';

.packageSmall {
  box-shadow: none !important;
  & .packageName {
    @include semibold-20;
  }
  & .packagePrice {
    @include semibold-18;
  }
  & .packageLabel {
    @include regular-16;
  }
  & .packageValue {
    @include regular-16;
  }
  & .packageItem {
    &:first-child {
      margin-top: 0px !important;
    }
    margin-top: 14px !important;
  }
}

.package {
  background-color: $white;
  // overflow: hidden;
  max-width: 400px;
  box-shadow: 0px 4px 14px rgba(221, 221, 221, 0.42);
  border-radius: 8px;
}
.packageImg {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
  max-height: 262px;
}
.packageContent {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 12px 14px 17px 14px;
}
.packageName {
  grid-column: 1/2;
  grid-row: 1/2;
  @include semibold-22;
}
.packagePrice {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  grid-column: 2/3;
  grid-row: 1/2;
  @include semibold-20;
  color: $primary;
  span {
    color: $mid-grey;
    @include regular-20;
    margin-left: 4px;
  }
}
.packageList {
  margin-top: 14px;
  grid-column: 1/3;
  grid-row: 2/3;
}
.packageItem {
  & + & {
    margin-top: 18px;
  }
}
.packageLabel {
  color: $mid-grey;
  margin-bottom: 3px;
}
.packageValue {
}

.packageActive {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: $primary;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(69, 177, 192, 0.22);
  }
}

.packageActiveIcon {
  position: relative;

  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 36px;
  height: 36px;
  background-color: $primary;
  border-radius: 50%;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 14px;
    background-image: url(../../../../public/icons/check-thin.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }
}

@media (max-width: $sm) {
  .package {
    max-width: 220px;
    min-width: 220px;
  }
  .packageContent {
    padding: 14px 8px 20px;
  }
  .packageName {
    @include semibold-16;
  }
  .packagePrice {
    @include semibold-16;
    span {
      color: $mid-grey;
      @include regular-16;
      margin-left: 4px;
    }
  }
  .packageImg {
    height: 182px;
    object-fit: cover;
    object-position: 0 0;
  }
}
