@import '../../../styles/var';
.thankModal {
  width: 360px;
  max-width: 360px;
}
.thankText {
  @include regular-14;
  color: $grey;
  margin-top: 16px;
  margin-bottom: 20px;
}

.thankBtnGreat {
  width: 100%;
  max-width: none;
}

@media (max-width: 500px) {
  .thankModal {
    width: 100%;
    max-width: calc(100vw - 32px);
    padding: 14px 12px 20px;
  }
  .thankText {
    margin-bottom: 28px;
  }
}
