@import '../../../styles/var';

.angle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 12px;
  background-color: $white-transparent;
  border-radius: 8px;
}
.angleText {
  @include regular-16;
  margin-right: 10px;
}
.angleBtn {
  width: 34px;
  height: 34px;
  background: rgba(255, 255, 255, 0.52);
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 14px;
    background-image: url(../../../../public/icons/arrow-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  border-radius: 50%;
}
.angleBtnNext {
  margin-left: 8px;
  &::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@media (max-width: $sm) {
  .angle {
    background: #f7f7f7;
  }
  .angleBtn {
    background: #f1f1f1;
  }
}
