@import '../../../styles/var';

.input {
  transition: all 0.3s;
  @include regular-16;
  padding: 18px 20px;
  width: 100%;
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  font-family: inherit;
  outline: 1px solid transparent;
  &::placeholder {
    @include regular-16;
    color: $light-grey;
  }
  &:hover {
    border: 1px solid #767676;
    outline: 1px solid #767676;
  }
  &:active,
  &:focus {
    border: 1px solid $primary;
    outline: 1px solid $primary;
    & + .inputTextLabel {
      color: $primary;
    }
  }
}
.inputBox {
  order: 2;
}
.inputLabelError {
  .inputBox {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../../../../public/icons/error.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 16px;
      height: 16px;
    }
  }
  .input {
    border-color: $error;
    &:hover {
      outline-color: $error;
    }

    &:active,
    &:focus {
      border-color: $error;
      outline-color: $error;
      & + .inputTextLabel {
        color: $error;
      }
    }
  }
}

.inputLabel {
  display: flex;
  flex-direction: column;
}

.inputTextLabel {
  transition: color 0.3s;
  order: 1;
  @include semibold-18;
  margin-bottom: 12px;
}
.inputTextLabelSmall {
  @include semibold-16;
  margin-bottom: 6px;
}
.textarea {
  resize: none;
}

@media (max-width: 800px) {
  .input {
    padding: 18px 12px;
  }
  .inputLabelMobile {
    & .inputTextLabel {
      @include semibold-16;
      margin-bottom: 8px;
    }
    & .input {
      @include regular-14-no-resize;
      padding: 14.5px 20px;
    }
  }
}
