@import '../../../styles/var';

.input {
  order: 2;
  transition: all 0.3s;
  @include regular-16;
  padding: 18px 20px;
  width: 100%;
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 4px;
  font-family: inherit;
  outline: 1px solid transparent;
  &::placeholder {
    @include regular-16;
    color: $light-grey;
  }
  &:hover {
    border: 1px solid #767676;
    outline: 1px solid #767676;
  }
  &:active,
  &:focus {
    border: 1px solid $primary;
    outline: 1px solid $primary;
    & + .inputTextLabel {
      color: $primary;
    }
  }
}
.inputLabel {
  display: flex;
  flex-direction: column;
}

.inputTextLabel {
  transition: color 0.3s;
  order: 1;
  @include semibold-18;
  margin-bottom: 12px;
}
.inputTextLabelSmall {
  @include semibold-16;
  margin-bottom: 6px;
}
