@import '../../../styles/var';
.ourWorkItemImg {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.ourWorkItemTitle {
  @include bold-26;
  margin-bottom: 20px;
  margin-bottom: 6px;
}
.ourWorkItemText {
  color: $dark-grey;
  max-width: 506px;
  @include regular-18;
  margin-bottom: 32px;
}
.ourWorkItemBtn {
}

@media (max-width: $sm) {
  .ourWorkItemText {
    margin-bottom: 20px;
  }
}
