@import '../../../styles/var';
.ourWorkItemImg {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  max-height: 412px;
  height: 100%;
  object-fit: cover;
}
.ourWorkItemTitle {
  @include bold-26;
  margin-bottom: 20px;
  margin-bottom: 6px;
}
.ourWorkItemText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: $dark-grey;
  max-width: 506px;
  @include regular-18;
  margin-bottom: 32px;
}
.ourWorkItemBtn {
}

@media (max-width: $sm) {
  .ourWorkItemText {
    margin-bottom: 20px;
  }
}
