@import '../../../styles/var';
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: $sm) {
  .filter {
    justify-content: start;
  }
  .filterWrapper {
    width: max-content;
    max-width: calc(100vw - 32px);
    overflow: scroll;
  }
}
