@import '../../../styles/var';

.constructor {
  position: relative;
  padding: 124px 0 185px;
}
.container {
}
.constructorInner {
  display: grid;
  grid-template-columns: 485px 1fr;
}
.constructorContent {
}
.constructorTitle {
  margin-bottom: 40px;
}
.contsturctorText {
  margin-bottom: 102px;
}
.consturctorBtn {
}
.constructorImgBox {
  width: 57.43vw;
  position: absolute;
  top: 0;
  right: 0;
}
.constructorImg {
  width: 100%;
  height: auto;
  max-height: 660px;
}
