@import '../../../styles/var';

.constructor {
  position: relative;
}
.container {
}
.constructorInner {
  display: grid;
  grid-template-columns: 485px minmax(auto, 857px);
  grid-gap: 42px;
}
.constructorContent {
  // padding: 124px 0 185px;
}
.constructorTitle {
  &:after {
    z-index: -1;
  }
  margin-top: 124px;
  margin-bottom: 40px;
}
.contsturctorText {
  margin-bottom: 102px;
}
.consturctorBtn {
}
.constructorImgBox {
  // width: 57.43vw;
  // position: absolute;
  // top: 0;
  // right: 0;
}
.constructorImg {
  height: auto;
  width: 100%;
  transform: translateX(20px);
  // width: 100%;
  // height: auto;
  // max-height: 660px;
}
