@import '../../../styles/var';
.wrapper {
  display: grid;
  grid-template-columns: 1fr 448px;
  grid-template-rows: auto auto min-content 1fr auto;
  max-height: 100vh;
  height: 100vh;
}
.wrapperFullScreen {
  .window {
    // margin: 0 !important;
    // img {
    //   aspect-ratio: unset;
    // }
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    margin: 0;
    // height: 100vh;
    // aspect-ratio: unset;
    z-index: 1000;
    // height: 100vh;
    // height: calc(100vh - 40px);
    // transform: translateY(-50%);
  }
  .rooms,
  .accordions,
  .accordions,
  .total,
  .head {
    display: none;
  }
}
.window {
  grid-column: 1/2;
  grid-row: 1/4;
  aspect-ratio: 3/2;
  // width: 69.7vw;
  // height: 55.3vh;
}
.rooms {
  grid-column: 1/2;
  grid-row: 4/6;
}
.head {
  grid-row: 1/2;
  grid-column: 2/3;
}
.accordions {
  grid-row: 2/5;
  grid-column: 2/4;
}
.total {
  grid-column: 2/3;
  grid-row: 5/6;
}
@media (max-width: $md) {
  .wrapper {
    grid-template-columns: 1fr 378px;
  }
}

@media (max-width: $sm) {
  .wrapper {
    grid-template-columns: 1fr;
    // grid-template-rows: none;
  }
  .window {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .rooms {
    display: none !important;
  }
  .head {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .accordions {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .total {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
