body {
  font-family: $font-family;
  color: $black;
  @include regular-18;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;
}

button,
a {
  user-select: none;
}

a {
  color: $primary;
  outline: 0 !important;
}

* {
  box-sizing: border-box !important;
}

a,
button,
img,
input,
label,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

.container {
  max-width: 1308px;
  padding: 0 20px;
  margin: 0 auto;
}
.container-fluid {
}

@media (max-width: $sm) {
  .container {
    padding: 0 16px;
  }
}
// CLASS COMPONENTS
.swiper-home-reviews-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 12px;
  & .swiper-pagination-bullet {
    flex-shrink: 1;
    opacity: 1 !important;
    display: block !important;
    width: 9px !important;
    height: 9px !important;
    min-width: 9px !important;
    min-height: 9px !important;
    max-width: 9px !important;
    max-height: 9px !important;
    margin: 0px !important;
    margin: 0px 8px !important;
    background-color: #ddecee;
  }

  & .swiper-pagination-bullet-active {
    background-color: $primary;
  }

  & > * {
    flex: 0 0;
  }
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
// SWIPER-HOME-REVIEWS
.swiper-home-reviews-button-prev,
.swiper-home-reviews-button-next {
  background-color: $primary;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s;
  &:hover {
    background: #00a0b7;
  }
  &:active,
  &:focus {
    background: #0f8091;
  }
  &.swiper-button-disabled {
    transition: background-color 0.3s;
    background-color: #e5e5e5;
  }
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 9px;
    height: 16px;
    background-image: url('../../public/icons/chevron.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 28%;
    transform: translate(-50%, -50%);
  }
}
.swiper-home-reviews-button-prev {
  margin-right: 20px;
  &::after {
    right: 34%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@media (max-width: $md) {
  .swiper-home-reviews .swiper-slide {
    width: 343px;
  }
}
@media (max-width: 500px) {
  .swiper-home-reviews .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > div:first-child {
      margin-bottom: 56px;
    }
  }
  .swiper-home-reviews-pagination {
    display: none;
  }
}

// SWIPER-WORK-SINGLE
.swiper-work-single {
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    width: 50vw !important;
    height: 40vw !important;
    // transform: scale(0.8) !important;
  }

  .swiper-slide img {
    object-fit: contain;
    // width: 700px !important;
    // height: 556px !important;
  }
  .swiper-slide-active img {
  }
  .swiper-slide-active {
    transform: scale(1.5) !important;
  }
}
.swiper-work-single-button-prev,
.swiper-work-single-button-next,
.swiper-constructor-packages-button-prev,
.swiper-constructor-packages-button-next {
  position: absolute !important;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  background-color: $white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  &.swiper-button-disabled {
    display: none;
  }
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 9px;
    height: 16px;
    mask-image: url('../../public/icons/chevron.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    position: absolute;
    background-color: $black;
    top: 50%;
    right: 28%;
    transform: translate(-50%, -50%);
  }
}
.swiper-work-single-button-prev {
  &::after {
    transform: translate(-72%, -47%) rotate(180deg);
  }
}
.swiper-work-single-button-next {
  left: 76.1%;
}
.swiper-work-single-button-prev {
  left: 24%;
}
@media (max-width: $xs) {
  .swiper-work-single {
    .swiper-slide {
      max-height: 400px !important;
      width: calc(100vw - 32px) !important;
      height: 60vw !important;

      display: block;
      // transform: scale(0.8) !important;
    }
    .swiper-slide-active {
      transform: none !important;
    }
    .swiper-wrapper {
      height: 60vw !important;
    }
  }
  .swiper-work-single-button-next {
    right: 4px !important;
    width: 46px;
    height: 46px;
    left: auto;
  }
  .swiper-work-single-button-prev {
    left: 48px !important;
    width: 46px;
    height: 46px;
  }

  .swiper-work-single-pagination {
    margin-top: 20px !important;
  }
}
.swiper-work-single-pagination {
  .swiper-pagination-current {
    color: $black;
  }
  @include bold-16;
  color: $light-grey;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

// @media (max-width: $md) {
//   .swiper-work-single {
//     .swiper-slide {
//       width: 500px;
//       height: 400px;
//     }

//     .swiper-slide img {
//       width: 500px;
//       height: 256px;
//     }
//   }
// }
// @media (max-width: $sm) {
//   .swiper-work-single {
//     .swiper-slide {
//       width: 400px;
//       height: 300px;
//     }

//     .swiper-slide img {
//       width: 400px;
//       height: 156px;
//     }
//   }
// }

// SWIPER-CONSTRUCTOR-PACKAGES
.swiper-constructor-packages {
  .swiper-scrollbar {
    background-color: transparent;
  }
  .swiper-scrollbar-drag {
    background-color: #d8dddf;
  }
}

.swiper-constructor-packages-button-next {
  top: 84px;
  left: auto;
  right: 6px;

  transform: none;
}

.swiper-constructor-packages-button-prev {
  top: 84px;
  left: 6px;
  &::after {
    transform: translate(-72%, -47%) rotate(180deg);
  }
  transform: none;
}
.swiper-our-works-button-next,
.swiper-our-works-button-prev {
  width: 13px;
  height: 24px;
  background-image: url(../../public/icons/chevron-thin.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%) rotate(180deg);
  &.swiper-button-disabled {
    display: none;
  }
}
.swiper-our-works-button-prev {
  right: auto;
  left: -40px;
  transform: translateY(-50%);
}
