$primary: #1994a6;
$light: #6ea4ac;
$bg-light: #f7f9fc;
$black: #272727;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.74);
$dark-grey: #585858;
$grey: #838383;
$grey-500: #b4b4b4;
$mid-grey: #9d9d9d;
$light-grey: #b9b9b9;
$font-family: 'Gilroy', sans-serif;
$screen-min: 1268;
$screen-max: 1268;

@mixin regular-12 {
  @include fluid-type(400, 12, 16, $screen-max, $screen-max);
}

@mixin regular-14 {
  @include fluid-type(400, 14, 17, $screen-max, $screen-max);
}

@mixin regular-20 {
  @include fluid-type(400, 20, 24, $screen-max, $screen-max);
}

@mixin regular-16 {
  @include fluid-type(400, 16, 22, $screen-max, $screen-max);
}

@mixin semibold-14 {
  @include fluid-type(600, 14, 17, $screen-max, $screen-max);
}

@mixin semibold-38 {
  @include fluid-type(600, 38, 47, $screen-max, $screen-max);
}

@mixin semibold-200 {
  @include fluid-type(600, 200, 245, $screen-max, $screen-max);
}

@mixin semibold-22 {
  @include fluid-type(600, 22, 29, $screen-max, $screen-max);
}

@mixin semibold-26 {
  @include fluid-type(600, 26, 35, $screen-max, $screen-max);
}
@mixin semibold-18 {
  @include fluid-type(600, 18, 22, $screen-max, $screen-max);
}
@mixin semibold-32 {
  @include fluid-type(600, 32, 39, $screen-max, $screen-max);
}

@mixin semibold-20 {
  @include fluid-type(600, 20, 24, $screen-max, $screen-max);
}

@mixin regular-18 {
  @include fluid-type(400, 18, 22, $screen-max, $screen-max);
}

@mixin regular-74 {
  @include fluid-type(400, 74, 95, $screen-max, $screen-max);
}

@mixin semibold-16 {
  @include fluid-type(600, 16, 20, $screen-max, $screen-max);
}

@mixin semibold-48 {
  @include fluid-type(600, 48, 59, $screen-max, $screen-max);
}

@mixin bold-54 {
  @include fluid-type(700, 54, 67, $screen-max, $screen-max);
}

@mixin bold-16 {
  @include fluid-type(700, 16, 19, $screen-max, $screen-max);
}

@mixin bold-32 {
  @include fluid-type(700, 32, 43, $screen-max, $screen-max);
}

@mixin bold-26 {
  @include fluid-type(700, 26, 35, $screen-max, $screen-max);
}

@mixin bold-120 {
  @include fluid-type(700, 120, 149, $screen-max, $screen-max);
}

@mixin fluid-type($font-weight, $font-max, $line-height-max, $screen-min, $screen-max, $font-min: '', $line-height-min: '') {
  font-family: $font-family;
  font-weight: #{$font-weight};

  @media (max-width: #{$screen-min}px) {
    @if $font-min != '' {
      font-size: #{$font-min}px;
    }
    @if $line-height-min != '' {
      line-height: #{$line-height-min}px;
    }
  }

  font-size: #{$font-max}px;
  line-height: #{$line-height-max}px;
}
