@import '../../../styles/var';
.info {
  margin-bottom: 40px;
}
.container {
}
.infoInner {
  background-color: #f9f9f9;
  padding: 30px 26px;
  border-radius: 8px;
  //   display: grid;
  //   grid-template-columns: 554px 1fr;
}
.infoTitle {
  @include semibold-22;
  margin-bottom: 34px;
}
.infoCommon {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  // grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  margin-bottom: 34px;
}
.infoInputArea {
  max-width: 150px;
}
.infoCounterDoors {
}
.infoCounterBathRooms {
}
.infoRoomList {
  //   grid-row: 3/4;
  //   grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(auto-fill, 224px);
  grid-gap: 24px;
  margin-bottom: 24px;
}
.infoRoomItem {
}
.infoRoomCheckbox {
}
.infoBtnAddRoom {
  margin-bottom: 32px;
}
.infoCheckboxWall {
  margin-bottom: 24px;
}
.infoCheckboxSecondaryHome {
}

@media (max-width: 800px) {
  .infoCommon {
    column-gap: 12px;
    row-gap: 22px;
  }
  .infoTitle {
    @include semibold-20-no-resize;
    margin-bottom: 30px;
  }
  .infoInner {
    padding: 16px 12px 40px 12px;
  }
  .infoRoomList {
    grid-gap: 20px;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .infoBtnAddRoom {
    margin-bottom: 30px;
  }
  .infoCheckboxWall {
    margin-bottom: 20px;
  }
}
