@import '../../../styles/var';
.breadcrumbs {
}
.container {
}
.breadcrumbsList {
  padding-top: 17px;
  display: flex;
  align-items: center;
}
.breadcrumbsItem {
  display: flex;
  align-items: center;
  &:not(:last-of-type)::after {
    content: '';
    display: block;
    height: 14px;
    width: 8px;
    mask-image: url('../../../../public/icons/chevron.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #7d92a1;
    margin: 0 12px;
  }
}
.breadcrumbsLink {
  @include regular-16;
  text-decoration: none;
  color: #7d92a1;
}
.breadcrumbsLabel {
  @include regular-16;
  color: #fc891f;
}
