@import '../../../styles/var';

.accordion {
  & + & {
    .accordionHead {
      padding-top: 40px;
    }
    border-top: 1px solid #d9dbe9;
  }

  &:first-child {
    & .accordionHead::after {
      top: 8px;
    }
    & .accordionHead::before {
      top: 14px;
    }
  }
}

.accordionActive {
  .accordionHead {
    color: $primary;
    padding-bottom: 14px;
    &::after {
      display: none;
    }
    &::before {
      display: block;
    }
  }
  .accordionContent {
    transition: all 0.5s;
    display: block;
    overflow: visible;
    opacity: 1;
    overflow: hidden;
  }
}
.accordionHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  user-select: none;
  padding-bottom: 40px;
  @include semibold-22;
  position: relative;
  padding-right: 40px;
  &::after,
  &::before {
    transition: all 0.35s ease-in-out;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;

    right: 0;
    transform: translateY(0%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../../public/icons/plus.svg');
  }
  &::after {
    top: 48px;
  }
  &::before {
    top: 55px;
    display: none;
    background-image: url('../../../../public/icons/minus.svg');
  }
}
.accordionContent {
  transition: all 0.5s;
  @include regular-18;
  overflow: hidden;
  opacity: 0;
  padding-bottom: 40px;
}
@media (max-width: $sm) {
  .accordionHead {
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 54px;

    &::after,
    &::before {
      right: 20px;
    }
    &::before {
      top: 34px;
    }
    &::after {
      top: 28px;
    }
  }

  .accordionContent {
    padding: 0 16px 24px 16px;
  }

  .accordion {
    &:first-child {
      & .accordionHead::after {
        top: 3px;
      }
      & .accordionHead::before {
        top: 9px;
      }
    }

    & + & {
      .accordionHead {
        padding-top: 24px;
      }
    }
  }
}
