@import '../../../styles/var';

.banner {
  overflow: hidden;
  position: relative;
  padding: 40px 0 52px;
}

.plan {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -527px;
  left: -316px;
  width: 696px;
  height: 731px;
}
.container {
}
.inner {
  @include bold-54;
  position: relative;
  display: grid;
  grid-gap: 57px;
  grid-template-columns: 9em 1fr;
}
.bannerCol {
}
.bannerTitle {
  @include bold-54;
  margin-bottom: 22px;
}
.bannerText {
  display: block;
  color: $dark-grey;
  @include regular-18;
  margin-bottom: 102px;
}
.bannerBtn {
}
.bannerImgBox {
  // height: 100%;
}
.bannerImg {
  height: auto;
  width: 112%;
}

@media (max-width: $xl) {
  .inner {
    grid-gap: 37px;
  }
  .bannerImg {
    height: auto;
    width: 100%;
    transform: translateX(20px);
  }
  .bannerText {
    margin-bottom: 92px;
  }
}

@media (max-width: $sm) {
  .banner {
    padding: 0 0 70px;
  }
  .inner {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .bannerImg {
    order: 1;
    width: calc(100% + 32px);
    transform: translateX(-16px);
    max-height: 375px;
    object-fit: cover;
  }
  .bannerCol {
    @include bold-54;
    max-width: 9.6em;
    order: 2;
  }
  .bannerText {
    margin-bottom: 30px;
  }
  .plan {
    display: none;
  }
  .bannerBtn {
    max-width: 256px;
  }
}
