@import '../../../styles/var';

.banner {
  overflow: hidden;
  position: relative;
  padding: 40px 0 52px;
}

.plan {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -527px;
  left: -316px;
  width: 696px;
  height: 731px;
}
.container {
}
.inner {
  position: relative;
  display: grid;
  grid-gap: 57px;
  grid-template-columns: 490px auto;
}
.bannerCol {
}
.bannerTitle {
  @include bold-54;
  margin-bottom: 22px;
}
.bannerText {
  display: block;
  color: $dark-grey;
  @include regular-18;
  margin-bottom: 102px;
}
.bannerBtn {
}
.bannerImgBox {
  // height: 100%;
}
.bannerImg {
  // position: absolute;
  // top: -70px;
  // transform: translateX(11%);
  // right: 0;
  // width: 63vw;
  // width: 56vw;
  // height: auto;
}
