@import '../../../styles/var';

.packageList {
  padding: 120px 0 140px;
}
.packageTitle {
  margin-bottom: 40px;
}
.container {
}
.packageListFilter {
  margin-bottom: 43px;
}
.packageListGroup {
}
.packageListGroupTitle {
  @include semibold-32;
  margin-bottom: 28px;
}
.packageListGroupList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 34px;
}
.packageListGroupItem {
  & + & {
    margin-top: 60px;
  }
}
@media (max-width: $sm) {
  .packageList {
    padding: 63px 0 120px;
  }
  .packageTitle {
    margin-bottom: 20px;
  }
  .packageListFilter {
    margin-bottom: 28px;
  }
  .packageListGroupTitle {
    margin-bottom: 12px;
  }
  .packageListGroupItem {
    & + & {
      margin-top: 0px;
    }
  }
  .packageListGroupList {
    display: flex;
    grid-gap: 0;
    padding-bottom: 20px;
  }
  .packageListGroupWrapper {
    width: max-content;
    max-width: calc(100vw - 32px);
    overflow: scroll;
  }
}
.packageListGroupPackage {
  & + & {
    margin-left: 12px;
  }
}
