@import '../../../styles/var';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(39, 39, 39, 0.42);
  z-index: 1000;
}
@media (max-width: 500px) {
  .overlay {
    background: rgba(39, 39, 39, 0.22);
  }
}
