@import '../../../styles/var';

.why {
  padding: 134px 0 119px;
  background-color: $bg-light;
}
.container {
}
.whyInner {
}
.whyTitle {
  margin-bottom: 70px;
}
.whyList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.whyItem {
  padding: 30px 30px 43px 20px;
  background-color: $white;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 14px rgba(221, 221, 221, 0.42));
}
.whyItemIcon {
  width: 46px;
  height: 46px;
  margin-bottom: 24px;
}
.whyItemTitle {
  @include semibold-22;
  margin-bottom: 20px;
}
.whyItemText {
  @include regular-18;
}
@media (max-width: $md) {
  .why {
    padding: 90px 0 60px;
    overflow: hidden;
  }
  .whyItem {
    padding: 18px 12px 24px;
  }
  .whyList {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
  .whyItemIcon {
    width: 38px;
    height: 38px;
    margin-bottom: 16px;
  }
  .whyItemTitle {
    margin-bottom: 12px;
  }
  .whyTitle {
    margin-bottom: 40px;
  }
}
