@import '../../../styles/var';

.reviewItem {
  display: grid;
  grid-template-columns: 41% 1fr;
  column-gap: 34px;
  max-width: 578px;
}

.reviewPlayBtn {
}

.reviewImgBox {
  height: 100%;
  position: relative;
  &:hover {
    & .reviewPlayBtn {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
  & .reviewPlayBtn {
    content: '';
    transition: transform 0.3s;
    display: block;
    background-image: url('../../../../public/icons/play.svg');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.reviewImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.reviewContent {
}
.reviewRoom {
  @include regular-18;
  color: rgba(88, 88, 88, 0.5);
  margin-bottom: 12px;
}
.reviewText {
  margin-bottom: 34px;
}
.reviewName {
  margin-bottom: 8px;
}
.reviewAddress {
  display: flex;
  align-items: center;
  color: $dark-grey;
  &::before {
    content: '';
    display: block;
    background-image: url('../../../../public/icons/location.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 20px;
    margin-right: 14px;
  }
}
@media (max-width: $md) {
  .reviewVideo {
    width: 100%;
    height: 380px;
  }
  .reviewItem {
    max-width: 343px;
    grid-template-columns: 1fr;
  }
  .reviewImgBox {
    height: 380px;
    margin-bottom: 16px;
  }
  .reviewRoom {
    margin-bottom: 10px;
  }
  .reviewImg {
    max-height: 383px;
    object-fit: cover;
    object-position: 0 30%;
  }
  .reviewText {
    margin-bottom: 22px;
  }
  .reviewName {
    margin-bottom: 10px;
  }
}
