@import '../../../styles/var';
.reviews {
  padding: 122px 0 203px;
}
.container {
}
.reviewsInner {
  position: relative;
}
.reviewsHeader {
}
.reviewsTitle {
  margin-bottom: 60px;
}
.reviewsSwiperBox {
  flex-direction: 100%;
  height: 400px;
  & .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    background-color: black;
  }
}

.reviewsSwiperNavigation {
  position: absolute;
  top: -6px;
  right: 0;
  display: flex;
  align-items: center;
}
.reviewsSlide {
  height: 400px;
}
