@import '../../../styles/var';
.brands {
  background-color: #f7f9fc;
  border-top: 1px solid #c4c4c4;
}
.container {
}
.inner {
  padding: 63px 0 80px;
}
.brandsList {
  display: grid;
  grid-template-columns: repeat(2, 137px);
  column-gap: 50px;
  row-gap: 45px;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  @include semibold-22;
  margin-bottom: 40px;
}
.brand {
  display: block;
  margin: auto;
}

@media (max-width: $xs) {
  .inner {
    padding: 0px 0 70px;
  }
  .brands {
    border-top: none;
  }
}
