@import '../../../styles/var';
.accordion {
}
.accordionActive {
  .accordionHead {
    &::after {
      transform: rotate(-90deg);
    }
  }
}

.accordionHead {
  background-color: $white;
  border-top: 1px solid #efefef;
  @include regular-16;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 24px 18px 24px;
  &::after {
    content: '';
    display: block;
    width: 7px;
    height: 12px;
    mask-image: url(../../../../public/icons/chevron.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: $dark-grey;
    transform: rotate(90deg);
  }
}
.accordionContent {
  padding: 10px 20px 20px 20px;
}
@media (max-width: $md) {
  .accordionHead {
    padding: 19px 20px 18px 16px;
  }
  .accordionContent {
    padding: 10px 16px 20px 16px;
  }
}
