@import '../../../styles/var';

.checkbox {
  height: 0 !important;
  width: 0 !important;
  visibility: hidden;
  opacity: 0;
  &:checked + .checkboxTextLabel {
    &::before {
      content: '';
      background-color: $primary;
      border-color: $primary;
    }
    &::after {
      display: block;
    }
  }
}

.checkboxLabel {
}

.checkboxTextLabel {
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;
  &::before {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid $light-grey;
    border-radius: 4px;
    margin-right: 10px;
  }
  &::after {
    content: '';
    display: none;
    width: 14px;
    height: 12px;
    position: absolute;
    background-image: url('../../../../public/icons/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
  }
}
.checkboxIcon {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid $light-grey;
  padding: 13px 12px;
  background-color: $white;
  .checkboxTextLabel {
    @include semibold-18;
    width: 100%;
    justify-content: space-between;
    order: 1;
    &::before {
      order: 2;
    }
    &::after {
      right: 14px;
      left: auto;
    }
  }
}

.checkboxIconImg {
  width: 28px;
  height: 28px;
  background-color: $black;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: 50% 75%;
  margin-right: 8px;
}
