@import '../../../styles/var';

.filterButton {
  user-select: none;
  @include semibold-20;
  font-family: inherit;
  padding: 12px 44px 14px 44px;
  border: 1px solid $light-grey;
  border-radius: 32px;
  color: $light-grey;
}

.filterItem {
  & + & {
    margin-left: 12px;
  }
  &:last-of-type {
    .filterButton {
      margin-right: 20px;
    }
  }
}

.filterActive {
  color: $primary;
  border-color: $primary;
}
@media (max-width: $sm) {
  .filterButton {
    padding: 10px 30px 10px 30px;
  }
}
